{% extends 'base.html' %}

{% block main %}
<div class="row flex-collumn justify-content-center h-100 m-0">
    <div class="col-lg-4 col-sm-6 col-12 my-auto">
        <div class="card bg-dark w-100 px-5 py-2">
            <h1 class="fs-3 fw-bold text-center text-white">Register</h1>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{register_form.username}}
                </div>
                <div class="mb-3">
                    {{register_form.password1}}
                </div>
                <div class="mb-3">
                    {{register_form.password2}}
                    <div class="form-text">{{register_form.password2.help_text}}</div>
                </div>
                <button class="btn btn-primary w-100" type="submit">Register</button>
                <div class="mt-3 w-100">
                    {% for m in messages %}
                    <span class="badge text-center text-wrap bg-danger m-0 w-100 fs-6 mb-2">{{m}}</span>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}